<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnLifeBoardLikeDAO">
	<!-- 좋아요 하기 (저장) -->
	<insert id="insertLifeBoardLike" parameterType="hashmap">
		INSERT INTO daangn_life_board_like (userRef, boardRef)
		VALUES (#{userRef}, #{boardRef})
	</insert>
	
	<!-- 좋아요 취소하기 (삭제) -->
	<delete id="deleteLifeBoardLike" parameterType="hashmap">
		DELETE FROM daangn_life_board_like
		WHERE userRef = #{userRef} AND boardRef = #{boardRef}
	</delete>
	
	<!-- 좋아요 했는지 확인하기 (조회) -->
	<select id="selectLifeBoardLike" parameterType="hashmap" resultType="int">
		SELECT count(*)
		FROM daangn_life_board_like
		WHERE userRef = #{userRef} AND boardRef = #{boardRef}
	</select>
	
	<!-- 최대 idx 얻기 -->
	<select id="getLastIdx" resultType="int">
		SELECT COALESCE(MAX(idx), 0) FROM daangn_life_board_like
	</select>
	
	<!-- 유저가 한 좋아요 갯수 얻기 -->
	<select id="getTotalCountByUserRef" parameterType="int" resultType="int">
		SELECT
			COUNT(DISTINCT dlb.idx) AS totalCount
		FROM
			daangn_life_board_like dlbl
		JOIN
			(
				SELECT
					dlb.*
				FROM
					daangn_life_board dlb
				WHERE
					<![CDATA[
						dlb.userRef <> #{userRef}
					]]>
			) dlb ON dlb.idx = dlbl.boardRef
		WHERE
			dlbl.userRef = #{userRef}
	</select>
	
	<!-- 유저가 좋아요한 목록 얻기 -->
	<select id="selectLikedBoardsByUserRef" parameterType="hashmap" resultType="DaangnLifeBoardVO">
		SELECT
		    dlbl.idx AS likeIdx,
		    dlb.*
		FROM
		    daangn_life_board_like dlbl
		JOIN
		    (
		        SELECT
		            dlb.*,
		            dlct.categoryName AS categoryName
		        FROM
		            daangn_life_board dlb
		        JOIN
		            daangn_life_category dlct ON dlb.categoryRef = dlct.idx
		        WHERE
		        	<![CDATA[
		            	dlb.userRef <> #{userRef}
		            ]]>
		    ) dlb ON dlb.idx = dlbl.boardRef
		WHERE
			<![CDATA[
		    	dlbl.idx < #{lastItemIdx}
		    ]]>
		    AND dlbl.userRef = #{userRef}
		ORDER BY
		    likeIdx DESC
		LIMIT #{sizeOfPage}
	</select>
	
</mapper>