<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnUsedmarketBoardLikeDAO">
	<!-- 좋아요 하기 (저장) -->
	<insert id="insertUsedmarketBoardLike" parameterType="hashmap">
		INSERT INTO daangn_usedmarket_board_like (userRef, boardRef)
		VALUES (#{userRef}, #{boardRef})
	</insert>
	
	<!-- 좋아요 취소하기 (삭제) -->
	<delete id="deleteUsedmarketBoardLike" parameterType="hashmap">
		DELETE FROM daangn_usedmarket_board_like
		WHERE userRef = #{userRef} AND boardRef = #{boardRef}
	</delete>
	
	<!-- 좋아요 했는지 확인하기 (조회) -->
	<select id="selectUsedmarketBoardLike" parameterType="hashmap" resultType="int">
		SELECT count(*)
		FROM daangn_usedmarket_board_like
		WHERE userRef = #{userRef} AND boardRef = #{boardRef}
	</select>
	
	<!-- 마이페이지에서 찜목록 담당 -->
	<select id="selectLikeBoardsByUserRef" parameterType="hashmap" resultType="DaangnUsedmarketBoardVO">
		SELECT
			dubl.idx as likeIdx,
			dub.*
		FROM
			daangn_usedmarket_board_like dubl
		JOIN
			(
				select
					dub.*,
					duc.categoryName AS categoryName,
					dus.statusName AS statusName
				FROM
					daangn_usedmarket_board dub
				JOIN
				    daangn_usedmarket_category duc ON dub.categoryRef = duc.categoryIdx
				JOIN
				    daangn_usedmarket_status dus ON dub.statusRef = dus.statusIdx
			) dub ON dub.idx = dubl.boardRef
		WHERE
			<![CDATA[
				dubl.idx < #{lastItemIdx}
			]]>
			AND dubl.userRef = #{userRef}
		ORDER BY
			dubl.idx desc
		LIMIT #{sizeOfPage}
	</select>
	
	<select id="getLikeBoardTotalCountByUserRef" parameterType="int" resultType="int">
		SELECT
			count(*)
		FROM
		    daangn_usedmarket_board_like dubl
		WHERE
		    dubl.userRef = #{userRef}
	</select>
	
	<select id="getLastItemIdx" resultType="int">
		SELECT COALESCE(MAX(idx), 0) FROM daangn_usedmarket_board_like
	</select>
</mapper>