<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.DaangnUsedmarketBoardReserveDAO">
	
	<!-- 저장하기 -->
	<insert id="insertReserve" parameterType="DaangnUsedmarketReserveVO">
		insert into daangn_usedmarket_board_reserve (boardRef, userRef, interaction)
		values (#{boardRef}, #{userRef}, #{interaction})
	</insert>
	
	<!-- 수정을 하면 조회가 애매하므로 삭제로만 하겠다. -->
	<!-- 삭제하기 -->
	<delete id="deleteReserveByboardRef" parameterType="int">
		delete from daangn_usedmarket_board_reserve where boardRef = #{boardRef}
	</delete>
	
	<!-- 예약이 되어 있엇는지 확인 -->
	<select id="getReserveByBoardRef" parameterType="int" resultType="DaangnUsedmarketReserveVO">
		select
			dubr.*
		from
			daangn_usedmarket_board_reserve dubr
		JOIN
		    daangn_member dm ON dubr.userRef = dm.idx
		where
			boardRef = #{boardRef}
	</select>
	
	<!-- 마이페이지 에서 구매목록 담당 -->
	<select id="selectPurchaseListByUserRef" parameterType="hashmap" resultType="DaangnUsedmarketBoardVO">
		SELECT
			dubr.idx as reserveIdx,
			dub.*
		FROM
			daangn_usedmarket_board_reserve dubr
		JOIN
			(
				select
					dub.*,
					duc.categoryName AS categoryName,
					dus.statusName AS statusName
				FROM
					daangn_usedmarket_board dub
				JOIN
				    daangn_usedmarket_category duc ON dub.categoryRef = duc.categoryIdx
				JOIN
				    daangn_usedmarket_status dus ON dub.statusRef = dus.statusIdx
			) dub ON dub.idx = dubr.boardRef
		WHERE
			<![CDATA[
				dubr.idx < #{lastItemIdx}
			]]>
			AND dubr.userRef = #{userRef} AND dubr.interaction = 1
		ORDER BY
			dubr.idx desc
		LIMIT #{sizeOfPage}
	</select>
	
	<!-- 마이페이지 에서 구매목록 총합 -->
	<select id="getPurchaseListTotalCountByUserRef" parameterType="int" resultType="int">
		SELECT
			count(*)
		FROM
		    daangn_usedmarket_board_reserve dubr
		WHERE
		    dubr.userRef = #{userRef} AND dubr.interaction = 1
	</select>
	
	<select id="getLastItemIdx" resultType="int">
		SELECT COALESCE(MAX(idx), 0) FROM daangn_usedmarket_board_reserve
	</select>
</mapper>