<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.dao.TestDAO">
	
	<!-- 중고 거래 목록 뿌리기 -->
	<select id="selectScrollList" parameterType="hashmap" resultType="TestVO">
		select
			db.*,
			c.categoryName AS categoryName,
			s.statusName AS statusName,
			COALESCE(dlt.countLike, 0) AS countLike,
			COALESCE(cr.chatRoomCount, 0) AS chatRoomCount,
			dbf.saveFileName as boardFile
		from
			daangn_board db
		JOIN
		    daangn_category c ON db.categoryRef = c.categoryIdx
		JOIN
		    daangn_status s ON db.statusRef = s.statusIdx
		LEFT JOIN
		    (
		        SELECT 
		            boardIdx,
		            COUNT(*) AS countLike
		        FROM 
		            daangn_like_tb
		        GROUP BY 
		            boardIdx
		    ) dlt ON dlt.boardIdx = db.idx
		LEFT JOIN
		    (
		        SELECT 
		            boardIdx,
		            COUNT(*) AS chatRoomCount
		        FROM 
		            chatRoom
		        GROUP BY 
		            boardIdx
		    ) cr ON cr.boardIdx = db.idx
		LEFT JOIN
			(
		        SELECT
		            ref,
		            saveFileName
		        FROM
		            daangn_board_file
		        WHERE
		            idx IN (SELECT MIN(idx) FROM daangn_board_file GROUP BY ref)
		    ) dbf ON dbf.ref = db.idx
		where
			<![CDATA[
				db.idx < #{lastItemIdx}
			]]>
			<if test="userRef != null">
				and db.userRef = #{userRef}
			</if>
            <if test="statusRef != null">
                and db.statusRef = #{statusRef}
            </if>
            <if test="statusRef == null">
                AND <![CDATA[ db.statusRef <> 3]]>
            </if>
			<if test="categoryRef != null">
                and db.categoryRef = #{categoryRef}
            </if>
			<if test="search != null">
                AND (
                    db.subject LIKE CONCAT('%', #{search}, '%')
                    OR db.content LIKE CONCAT('%', #{search}, '%')
                )
            </if>
            <if test="region != null">
                AND db.loc1 LIKE CONCAT('%', #{region}, '%')
            </if>
            <if test="gu != null">
                AND db.loc2 LIKE CONCAT('%', #{gu}, '%')
            </if>
            <if test="dong != null">
                AND db.loc3 LIKE CONCAT('%', #{dong}, '%')
            </if>
            <if test="boardRef != null">
            	AND <![CDATA[db.idx <> #{boardRef}]]>
            </if>
		order by
			db.idx DESC
		LIMIT #{sizeOfPage}
	</select>
	<!-- 중고거래 게시물 1개 얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="TestVO">
		SELECT
		    db.*,
		    c.categoryName AS categoryName,
		    s.statusName AS statusName,
		    COALESCE(dlt.countLike, 0) AS countLike,
		    COALESCE(cr.chatRoomCount, 0) AS chatRoomCount,
		    dm.nickName AS nickName,
		    duf.saveFileName as userProfile,
		    duc.userVal AS userVal
		FROM
		    daangn_board db
		JOIN
		    daangn_member dm ON db.userRef = dm.idx
		LEFT JOIN
			daangn_user_file duf on db.userRef = duf.ref
		JOIN
		    daangn_category c ON db.categoryRef = c.categoryIdx
		JOIN
		    daangn_status s ON db.statusRef = s.statusIdx
		LEFT JOIN
		    (
		        SELECT 
		            boardIdx,
		            COUNT(*) AS countLike
		        FROM 
		            daangn_like_tb
		        GROUP BY 
		            boardIdx
		    ) dlt ON dlt.boardIdx = db.idx
		LEFT JOIN
		    (
		        SELECT 
		            boardIdx,
		            COUNT(*) AS chatRoomCount
		        FROM 
		            chatRoom
		        GROUP BY 
		            boardIdx
		    ) cr ON cr.boardIdx = db.idx
		LEFT JOIN
		    (
		        SELECT 
		            userIdx,
		            AVG(score) AS userVal
		        FROM 
		            daangn_comment
		        GROUP BY 
		            userIdx
		    ) duc ON duc.userIdx = db.userRef
		WHERE
			db.idx = #{idx}
	</select>
</mapper>