<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>당근 동네생활</title>
	<!--제이쿼리 추가-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- axios -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	
	<link rel="stylesheet" href="/css/header.css">
	<style type="text/css">
		.uk-container{width: 810px; padding: 0;}
		.board-category{padding: 5px 10px; background: #ccc; border-radius: 5px; font-size: 14px; font-weight: 400;}
		#board-like-Btn {transition: 0.5s;}
		#board-like-Btn:hover {background: #ccc;}
		#board-like-Btn.active {background: #FF8A3D; color: #fff;}
		.big-right p {margin: 0;}
		
		.comment-nickname{font-size: 16px; font-weight: 400;}
		.comment-time{font-size: 14px;}
		.comment-comment{white-space: pre-line;}
		.comment-like-btn{cursor: pointer;}
		.comment-more-btn{cursor: pointer;}
		
		.comment-like-btn.active path{fill: #FC1A63;}
	</style>
</head>
<body>
	<input type="hidden" id="boardRef" th:value="${board.idx}">
	<input type="hidden" id="isLogin" th:value="${isLogin}">
	<input type="hidden" id="lastItemIdx" th:value="${lastItemIdx}"/>
	<div id="wrap">
		<th:block th:insert="~{header.html}"></th:block>
		<main style="padding: 76px 0;">
			<div class="uk-container" style="margin-top: 30px;">
				<p class="board-category" style="display: inline-block;">[[${board.categoryName}]]</p>
				<div id="board-info" style="display: flex;">
					<div th:if="${board.userProfile == null}" id="board-user-profile" style="width: 60px; height: 60px; overflow: hidden; border-radius: 100%; background: url('/img/user.png') center/cover;"></div>
					<div th:if="${board.userProfile != null}" id="board-user-profile" th:style="'width: 60px; height: 60px; overflow: hidden; border-radius: 100%; background: url(\'/upload/' + ${board.userProfile} + '\') center/cover;'"></div>
					<div style="margin-left: 20px;">
						<p style="margin: 0; padding: 0; font-weight: 500;">[[${board.nickName}]]</p>
						<p style="margin: 0;" id="board-time"></p>
						<input type="hidden" th:value="${board.createDate}" id="board-time2"/>
					</div>
				</div>
				<div style="margin-top: 20px;">
					<!-- 제목 -->
					<p id="board-title" style="font-size: 24px; font-weight: 600;margin: 5px 0;">[[${board.title}]]</p>
					<!-- 내용 -->
					<p id="board-content" style="font-size: 20px; font-weight: 400; margin:0; white-space: pre-line;">[[${board.content}]]</p>
					<!-- 사진! -->
					<th:block th:if="${not #lists.isEmpty(board.fileList)}">
						<div style="display:flex; flex-direction:column; gap:20px;">
							<div th:each="file, vs : ${board.fileList}" style="border-radius: 10px;overflow: hidden;">
								<img style="width: 100%;" th:src="'/upload/' + ${file.saveFileName}" th:alt="'게시글사진'+${vs.count}" />
							</div>
						</div>
					</th:block>
					<p>
						<span uk-icon="eye"></span> <span style="font-size: 14px;">[[${board.readCount}]]명이 봤어요</span>
					</p>
					<div style="display: flex; justify-content: space-between;">
						<div>
							<button th:if="${session.user == null}" onclick="alert('로그인후 이용가능합니다.'); location.href='/member/login'" class="uk-button" style="border-radius: 50px; padding: 0px 10px; font-weight: 500;"><span uk-icon="icon: heart; ratio: 1.2"></span> 공감하기</button>
							<button th:if="${session.user != null && board.isLike == 1}" id="board-like-Btn" class="uk-button active" style="border-radius: 50px; padding: 0px 10px; font-weight: 500;"><span uk-icon="icon: heart; ratio: 1.2"></span> 공감하기</button>
							<button th:if="${session.user != null && board.isLike == 0}" id="board-like-Btn" class="uk-button" style="border-radius: 50px; padding: 0px 10px; font-weight: 500;"><span uk-icon="icon: heart; ratio: 1.2"></span> 공감하기</button>
							<span id="board-like-count" style="font-size: 14px;">[[${board.likeCount}]]명이 공감했어요</span>
						</div>
						<!-- 글쓴이라면 수정하기 버튼보이기 -->
						<th:block th:if="${session.user != null && session.user.idx == board.userRef}">
							<div>
								<form action="/life/board/update" method="post">
									<input type="hidden" name="idx" th:value="${board.idx}">
									<input type="submit" id="board-update-Btn" class="uk-button" style="background: #17B75E;color:#fff; border-radius: 50px; padding: 0px 10px;" value="수정하기"/>
								</form>
							</div>
						</th:block>
					</div>
				</div>
				<!-- 이후 댓글영역 -->
				<hr />
				<div>
					<div style="display: flex; justify-content: space-between;">
						<p id="commentCount" style="margin: 0;"><span style="font-weight: 500; font-size: 20px;">댓글</span> [[${board.commentCount}]]개</p>
						<span id="write-comment-view-btn" style="cursor: pointer;">댓글달기</span>
					</div>
					<div id="write-comment-form" style="display: none; flex-direction: column; margin-top: 10px;">
						<th:block th:if="${session.user != null}">
							<textarea id="commentContent" class="uk-textarea" rows="3" maxlength="200" style="resize: none; overflow-y: hidden;" placeholder="댓글을 입력해주세요."></textarea>
							<span id="write-comment-btn" style="align-self: flex-end;cursor: pointer;">저장</span>						
						</th:block>
						<th:block th:if="${session.user == null}">
							<textarea id="commentContent" class="uk-textarea" rows="3" maxlength="200" style="resize: none; overflow-y: hidden;" placeholder="로그인 후 이용가능합니다." disabled="disabled"></textarea>				
						</th:block>
					</div>
				</div>
				<div th:if="${board.commentCount == 0}" style="height: 150px; display: flex; align-items: center; justify-content: center;">
					<p style="text-align: center;">아직 댓글이 없어요.<br />가장먼저 댓글을 남겨보세요.</p>
				</div>
				<hr />
				<div>
					<ul id="slide" style="display: flex; flex-direction: column; gap:10px;"></ul>
				</div>
			</div>
		</main>
	</div>
	<div id="viewPopup" style="display: none;">
		<div id="commentPopup-bg" style="position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; background: rgba(0,0,0,0.3); z-index: 995;"></div>
		<div class="popup" id="commentPopup" style="padding:20px; border-radius:20px; position: fixed; width: 810px; top:50%; left: 50%; background: #fff; z-index:996; transform: translate(-50%, -50%);">
		    <h2>댓글 수정</h2>
		    <input type="hidden" id="updateCommentIdx" value="0">
		    <textarea id="commentUpdateText" rows="3" oninput="checkNumberOfLines(this)" class="uk-textarea" placeholder="수정할 댓글을 입력해주세요" style="resize: none; overflow-y: hidden;"></textarea>
		    <div style="display: flex; justify-content: end;">
			    <span id="updateCommentCancle" style="cursor: pointer;">취소</span>ㆍ<span id="updateCommentSubmit" style="cursor: pointer;">수정</span>
		    </div>
		</div>
	</div>
	
	<script type="text/javascript">
		let lastItemIdx = 0;
		const sizeOfPage = 12;
		let isLogin = false;
		function init(){
			lastItemIdx = $("#lastItemIdx").val();
			isLogin = ($("#isLogin").val() === 'true');
			getItem();
			window.addEventListener('scroll', handleScroll);
		}
		
		/** 날짜변경 */
		function dateFormatter(dateStr){
			// Moment.js를 사용하여 상대적인 시간 표시 
			let momentRegDate = moment(dateStr);
			let now = moment();
			let diff = now.diff(momentRegDate, 'seconds'); // 차이 구하기
			var formattedDate;
			if (diff < 60) {
			    formattedDate = diff + '초 전';
			} else if (diff < 3600) {
			    formattedDate = Math.floor(diff / 60) + '분 전';
			} else if (diff < 86400) {
			    formattedDate = Math.floor(diff / 3600) + '시간 전';
			} else if (diff < 604800) {
			    formattedDate = Math.floor(diff / 86400) + '일 전';
			} else {
			    formattedDate = momentRegDate.format('YYYY.MM.DD');
			}
			return formattedDate;
		}
		
		/** 댓글 목록 가져오는 함수 */
		function getItem(){
			window.removeEventListener('scroll', handleScroll);
			axios.post('/life/commentList', {
	            'lastItemIdx': lastItemIdx,
	            'sizeOfPage': sizeOfPage,
	            'boardRef': $("#boardRef").val(),
	        })
	        .then(res => {
				let data = res.data;
				console.log(data);
				if(data.length == 0) {
					window.removeEventListener('scroll', handleScroll);
					return ;
				}
				content = "";
				data.forEach(cm => {
					lastItemIdx = cm.idx;
					const isLike = cm.isLike == 0 ? `<p class="comment-like-btn" onclick='commentLike(this, ${cm.idx})' style="display: inline-block; margin-right: 10px;"><span uk-icon="icon: heart; ratio: 0.7;"></span> 공감 ${cm.likeCount}</p>` : `<p class="comment-like-btn active" onclick='commentLike(this, ${cm.idx})' style="display: inline-block; margin-right: 10px;"><span uk-icon="icon: heart; ratio: 0.7;"></span> 공감 ${cm.likeCount}</p>`;
					const hasChild = cm.childCommentCount == 0 ? ``: `<p class="comment-more-btn" onclick="childCommentView(this, ${cm.idx})" style="display: inline-block;"><span uk-icon="icon: comments; ratio: 0.7;"></span> 답글 ${cm.childCommentCount}개 더보기</p>`;
					const isYours = cm.isYours == 0 ? `` : `<span onclick="commentUpdateView(${cm.idx})" style="cursor: pointer">수정</span>ㆍ<span onclick="commentDelete(${cm.idx})" style="cursor: pointer">삭제</span>ㆍ`;
					const isOwner = cm.isOwner == 0 ? `` : `<span style="background:#ccc; color:#fff; font-size:12px; padding:0px 3px;border-radius: 5px">작성자</span> `;
					const userProfileStyle = (cm.userProfile !== null && cm.userProfile !== undefined) ? `/upload/${cm.userProfile}` : '/img/user.png';

					content += `
						<li style="display: flex;">
							<div class="big-left" style="width: 60px; height: 60px; overflow: hidden; border-radius: 100%; background: url('${userProfileStyle}') center/cover;"></div>
							<div class="big-right" style="margin-left: 20px; width: 730px;">
								<div>${isOwner}<span class="comment-nickname">${cm.nickName}</span> <span class="comment-time">${dateFormatter(cm.createDate)}</span></div>
								<p class="comment-comment">${cm.comment}</p>
								<div class="comment-val">
									<div style="display: flex;justify-content: space-between;">
										<div>
											${isLike}
											${hasChild}
										</div>
										<div>
											${isYours}<span onclick="insertCommentReplyView(this, ${cm.idx})" class='reply-view-btn' style="cursor: pointer">답글달기</span>
										</div>
									</div>
								</div>
								<div class="childCommentBox"></div>
							</div>
						</li>
					`;
				})
				$("#slide").append(content);
				window.addEventListener('scroll', handleScroll);
			})
		}
		
		/** 스크롤 이벤트 */
		function handleScroll() {
		    if (window.scrollY + window.innerHeight + 100 >= document.documentElement.scrollHeight) {
		        getItem();
		    }
		}
		
		/** 댓글쓰기 3줄만 제한 */
		function checkNumberOfLines(textarea) {
			const lineHeight = parseInt(window.getComputedStyle(textarea).lineHeight);
	        const paddingTop = parseInt(window.getComputedStyle(textarea).paddingTop);
	        const paddingBottom = parseInt(window.getComputedStyle(textarea).paddingBottom);
	        const scrollHeight = textarea.scrollHeight - paddingTop - paddingBottom;

	        if (scrollHeight > lineHeight * 3) {
	        	textarea.value = textarea.value.slice(0, -1);
	        }
	    }
		
		/** 댓글 좋아요 */
		function commentLike(obj, commentIdx){
			if(!isLogin){
				alert('로그인 후 이용가능합니다.', commentIdx);
				location.href = '/member/login';
				return ;
			}
			if(!obj.classList.contains('active')){ // 좋아요하기
				axios.post('/life/likeComment', {
					'commentRef' : commentIdx
				})
				.then(res => {
					const data = res.data;
					if(data == '1'){ // 좋아요 성공
						obj.classList.add('active'); // 버튼에 active 클래스 추가
		                const likeCount = parseInt(obj.innerText.match(/\d+/)[0]); // 좋아요 수 추출
		                obj.innerHTML = `<span uk-icon="icon: heart; ratio: 0.7;"></span> 공감 ${likeCount + 1}`; // 좋아요 수 증가하여 버튼 내용 변경
					} else {
						alert("오류가 발생했습니다. 잠시후 다시 시도해주세요.");
						location.reload();
					}
				})
			} else { // 좋아요취소하기
				axios.post('/life/unlikeComment', {
		            'commentRef' : commentIdx
		        })
		        .then(res => {
		            const data = res.data;
		            if(data == '1'){ // 좋아요 취소 성공
		                obj.classList.remove('active'); // 버튼에서 active 클래스 제거
		                const likeCount = parseInt(obj.innerText.match(/\d+/)[0]); // 좋아요 수 추출
		                obj.innerHTML = `<span uk-icon="icon: heart; ratio: 0.7;"></span> 공감 ${likeCount - 1}`; // 좋아요 수 감소하여 버튼 내용 변경
		            } else {
		                alert("오류가 발생했습니다. 잠시후 다시 시도해주세요.");
		                location.reload();
		            }
		        })				
			}
		}
		
		/** 답글 달기가 보이는 함수 */
		function insertCommentReplyView(obj, parentComIdx){
			if(!isLogin){
				alert('로그인 후 이용가능합니다.');
				location.href = '/member/login';
				return ;
			}
			$(".commentReplyForm").remove();
			let commentVal = $(obj).closest('.comment-val');
			if (commentVal.children('.commentReply').length > 0) {
		        return;
		    }
			const commentReplyForm = `
		        <div class="commentReplyForm" style="margin-top: 10px;">
		            <textarea type="text" class="uk-textarea replyForm" rows="3" oninput="checkNumberOfLines(this)" style="resize: none; overflow-y: hidden;" placeholder="답글을 입력해주세요." id="reply-input-${parentComIdx}" maxlength="100"/></textarea>
		            <span class="reply-insert-btn" style="cursor: pointer" onclick="saveCommentReply(${parentComIdx})">저장</span>
		        </div>
		    `;
		    commentVal.append(commentReplyForm);
		}
		
		/** 답글 저장 시키는 함수 */
		function saveCommentReply(parentComIdx){
			// boardRef , comment, parentComIdx
			let comment = $(`#reply-input-${parentComIdx}`).val();
			if(comment.trim().length == 0){
				alert('답글을 입력해주세요.');
				$(`#reply-input-${parentComIdx}`).val('');
				$(`#reply-input-${parentComIdx}`).focus();
				return ;
			}
			
			axios.post("/life/writeComment", {
				'boardRef': $("#boardRef").val(),
				'comment' : $(`#reply-input-${parentComIdx}`).val().trim(),
				'parentComIdx' : parentComIdx
			})
			.then(res => {
				const data = res.data;
				if(data == '1'){
					alert('답글을 저장했습니다.');
				} else {
					alert('오류가 발생했습니다. 잠시후 다시 시도해주세요.');
				}
				location.reload();
			})
			.catch(err => {
				console.log(err);
			})
		}
		
		/** 댓글 수정란이 보이게 만들어주는 함수 이거는 팝업으로 띄울까 고민중..*/ 
		function commentUpdateView(commentIdx){
			let result = confirm('댓글을 수정하시겠습니까?');
			if(result){
				// 댓글 내용 조회 (idx, comment)나 채워넣기
				axios.post(`/life/getComment/${commentIdx}`)
				.then(res => {
					const cm = res.data;
					$("#updateCommentIdx").val(commentIdx);
					$("#commentUpdateText").val(cm.comment);
					// 팝업 띄우기
					$("#viewPopup").show();
				})
				.catch(err => {
					console.log(err);
				})
			}
		}
		
		/** 댓글 삭제요청 한개 (parentComIdx [null])*/
		function commentDelete(commentIdx, parentComIdx){ // 머머 받아야하지?
			let result = confirm('삭제하시겠습니까?');
			if(result){
				axios.post("/life/deleteComment", {
					'idx' : commentIdx,
					'boardRef': $("#boardRef").val(),
					'parentComIdx' : parentComIdx
				})
				.then(res => {
					const data = res.data;
					if(data == '1'){
						alert('삭제되었습니다.');
					} else {
						alert('오류가 발생했습니다. 잠시후 다시 시도해주세요.');
					}
					location.reload();
				})
			}
		}
		
		/** 대댓글 가져오기 요청 */
		function childCommentView(obj, commentIdx){
			console.log(obj);
			console.log(commentIdx);
			let childCommentBox = $(obj).closest('.big-right').find(".childCommentBox");
			$(obj).remove();
			axios.post("/life/childCommentList", {
				'parentComIdx': commentIdx
			})
			.then(res => {
				const data = res.data;
				console.log(data);
				content = `<ul style="margin-top: 20px; display: flex; flex-direction: column; gap:10px;">`;
				data.forEach(cm => {
					console.log(cm);
					const isLike = cm.isLike == 0 ? `<p class="comment-like-btn" onclick='commentLike(this, ${cm.idx})' style="display: inline-block; margin-right: 10px;"><span uk-icon="icon: heart; ratio: 0.7;"></span> 공감 ${cm.likeCount}</p>` : `<p class="comment-like-btn active" onclick='commentLike(this, ${cm.idx})' style="display: inline-block; margin-right: 10px;"><span uk-icon="icon: heart; ratio: 0.7;"></span> 공감 ${cm.likeCount}</p>`;
					const isYours = cm.isYours == 0 ? `` : `<span onclick="commentUpdateView(${cm.idx})" style="cursor: pointer">수정</span>ㆍ<span onclick="commentDelete(${cm.idx}, ${commentIdx})" style="cursor: pointer">삭제</span>`;
					const isOwner = cm.isOwner == 0 ? `` : `<span style="background:#ccc; color:#fff; font-size:12px; padding:0px 3px;border-radius: 5px">작성자</span> `;
					const userProfileStyle = (cm.userProfile !== null && cm.userProfile !== undefined) ? `/upload/${cm.userProfile}` : '/img/user.png';
					content += `
						<li style="display: flex; width: 100%;">
							<div class="smaill-left" style="width: 60px; height: 60px; overflow: hidden; border-radius: 100%; background: url('${userProfileStyle}') center/cover;"></div>
							<div class="smaill-right" style="margin-left: 20px; width: 650px;">
								<p>${isOwner}<span class="comment-nickname">${cm.nickName}</span> <span class="comment-time">${dateFormatter(cm.createDate)}</span></p>
								<p class="comment-comment">${cm.comment}</p>
								<div class="comment-val">
									<div style="display: flex;justify-content: space-between;">
										<div>
											${isLike}
										</div>
										<div>
											${isYours}
										</div>
									</div>
								</div>
							</div>
						</li>
					`;
				});
				content += `</ul>`;
				childCommentBox.append(content);
			})
			.catch(err => {
				console.log(err);
			})
		}
		
		
		$(function(){
			// 게시글 시간 변경
			let boardTime = dateFormatter($("#board-time2").val());
			$("#board-time").text(boardTime);
			
			init();
			
			// 게시글 좋아요 이벤트
			$("#board-like-Btn").click(function(){
				const isActive = $(this).hasClass('active');
				if(!isActive){ 
					axios.post('/life/like',{
						'boardRef' : $("#boardRef").val()
					})
					.then(res => {
						const data = res.data;
						if(data == '1'){
							$(this).addClass('active');
							const likeCount = parseInt($("#board-like-count").text()); // 숫자만 뽑기
							$("#board-like-count").text(likeCount + 1 + "명이 공감했어요"); // 공감 수 증가
						} else {
							alert('문제가 발생했습니다. 잠시후 다시 시도해주세요.');
							location.reload();
						}
					})
				} else {
					axios.post('/life/unlike',{
						'boardRef' : $("#boardRef").val()
					})
					.then(res => {
						const data = res.data;
						if(data == '1'){
							$(this).removeClass('active');
							const likeCount = parseInt($("#board-like-count").text()); // 숫자만 뽑기
							$("#board-like-count").text(likeCount - 1 + "명이 공감했어요"); // 공감 수 증가
						} else {
							alert('문제가 발생했습니다. 잠시후 다시 시도해주세요.');
							location.reload();
						}
					})
				}
			})
			
			
			// 댓글 쓰기 보이기
			$("#write-comment-view-btn").click(function(){
				$("#write-comment-view-btn").css('display', 'none');
				$("#write-comment-form").css('display', 'flex');
			})
			
			// 댓글 저장하기버튼이벤트
			$("#write-comment-btn").click(function(){
				if($("#commentContent").val().trim().length == 0){
					alert('내용을 입력해주세요.');
					$("#commentCount").val('');
					$("#commentContent").focus();
					return ;
				}
				axios.post("/life/writeComment", {
					'boardRef': $("#boardRef").val(),
					'comment': $("#commentContent").val().trim(),
				})
				.then(res => {
					const data = res.data;
					console.log(data);
					if(data == '1'){
						alert('댓글이 작성되었습니다.');
					} else {
						alert('오류가 발생했습니다. 잠시후 다시시도해 주세요.');
					}
					location.reload(); // 새로고침
				})
				.catch(err=>{
					console.log(err);
				})
			})
			
			// 댓글 글라인수 제한
			const commentContent = document.getElementById('commentContent');
		    commentContent.addEventListener('input', function() {
		        const lineHeight = parseInt(window.getComputedStyle(this).lineHeight);
		        const paddingTop = parseInt(window.getComputedStyle(this).paddingTop);
		        const paddingBottom = parseInt(window.getComputedStyle(this).paddingBottom);
		        const scrollHeight = this.scrollHeight - paddingTop - paddingBottom;

		        if (scrollHeight > lineHeight * 3) {
		            this.value = this.value.slice(0, -1);
		        }
		    });
		    
		    $("#updateCommentCancle").click(function(){
		    	$("#viewPopup").hide();
		    	$("#updateCommentIdx").val('0');
		    	$("#commentUpdateText").val('');
		    })
		    $("#commentPopup-bg").click(function(){
		    	$("#updateCommentCancle").click()
		    })
		    
		    $("#updateCommentSubmit").click(function(){
		    	let comment = $("#commentUpdateText").val();
		    	if(comment.trim().length == 0){
		    		alert("내용을 입력해주세요.");
		    		$("#commentUpdateText").val('');
		    		$("#commentUpdateText").focus();
		    		return ;
		    	}
		    	
		    	axios.post("/life/updateComment", {
		    		'idx': $("#updateCommentIdx").val(),
		    		'comment': $("#commentUpdateText").val()
		    	})
		    	.then(res => {
		    		const data = res.data;
		    		if(data == '1'){
		    			alert('수정되었습니다.');
		    		} else {
		    			alert('오류가 발생했습니다. 잠시후 다시시도해 주세요.');
		    		}
		    		location.reload();
		    	})
		    	.catch(err => {
		    		console.log(err);
		    	})
		    	
		    })
		})
	</script>
</body>
</html>