<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>당근 동네생활</title>
	<!--제이쿼리 추가-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- axios -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/life/selectRegion.css">
	<script src="/js/life/selectRegion.js"></script>
	
	<style type="text/css">
		main{width: 100%; padding: 110px 0;}
		.uk-container{width: 810px; padding: 0;}
		.category-nav{margin-bottom: 10px; overflow: hidden;}
		.category-nav a {
		    display: inline-flex;
		    -webkit-box-align: center;
		    align-items: center;
		    border: 1px solid #eee;
		    border-radius: 6.25rem;
		    padding: 0.5rem 0.75rem;
		    font-size: 0.875rem;
		    cursor: pointer;
		}
		.category-nav a.selected {
			color: #fff;
			background: #333;
		}
		
		#writeButton {
		    display: inline-block;
		    width: 150px;
		    height: 60px;
		    background-color: #ff8300;
		    color: #ffffff;
		    border: none;
		    border-radius: 900px;
		    font-size: 24px;
		    cursor: pointer;
		    transition: width 1s, background-color 0.5s; /* 트랜지션을 추가합니다 */
		}
		
		#writeButton:hover {
		    background-color: #e67e00;
		    width: 150px;
		}
		
		#writeButton:active {
		    background-color: #d97700;
		}
		#slide p {margin: 0;}
		#slide span{font-size: 14px; font-weight: 400;}
		.board-category{padding: 5px 10px; background: #ccc; border-radius: 5px; font-size: 14px; font-weight: 400;}
		.list-item{cursor: pointer; border-bottom: 1px solid #ccc;}
		.list-item:hover{background: #eee;}
		.list-item .board-title{font-size: 20px; font-weight: 500;}
		.list-item .board-content{font-size: 16px;}
		.li1 p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 630px;}
		.li2 p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 790px;}
		
	</style>
</head>
<body>
	<input type="hidden" id="lastItemIdx" th:value="${lastItemIdx}"/>
	<input type="hidden" id="region" th:value="${region}">
	<input type="hidden" id="gu" th:value="${gu}">
	<input type="hidden" id="dong" th:value="${dong}">
	<input type="hidden" id="search" th:value="${search}">
	<input type="hidden" id="categoryRef" th:value="${categoryRef}">
	<button id="writeButton" style="position: fixed; bottom: 100px; right: 100px;" th:if="${session.user == null}" onclick="alert('로그인이 필요합니다.'); location.href='/member/login'">+ 글쓰기</button>
    <button id="writeButton" style="position: fixed; bottom: 100px; right: 100px;" th:if="${session.user != null}" onclick="location.href='/life/board/write';">+ 글쓰기</button>
	<div id="wrap">
		<th:block th:insert="~{header.html}"></th:block>
		<main>
			<div class="uk-container">
				<h3 style="font-weight: 600; font-size: 30px; text-align: center; margin-bottom: 40px;">당근 동네생활</h3>
				<div class="category-nav">
					<a th:classappend="${categoryRef == null} ? 'selected'"class="notice-tag" href="/life/view">전체</a>
					<a th:classappend="${categoryRef == 1} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=1">동네질문</a>
					<a th:classappend="${categoryRef == 2} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=2">동네사건사고</a>
					<a th:classappend="${categoryRef == 3} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=3">동네맛집</a>
					<a th:classappend="${categoryRef == 4} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=4">동네소식</a>
					<a th:classappend="${categoryRef == 5} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=5">생활정보</a>
					<a th:classappend="${categoryRef == 6} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=6">취미생활</a>
					<a th:classappend="${categoryRef == 7} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=7">일상</a>
					<a th:classappend="${categoryRef == 8} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=8">해주세요</a>
					<a th:classappend="${categoryRef == 9} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=9">동네사진전</a>
					<a th:classappend="${categoryRef == 10} ? 'selected'" class="notice-tag " href="/life/view?categoryRef=10">분실/실종센터</a>
				</div>
				<th:block th:insert="~{life/selectRegion.html}"></th:block>
			</div>
			<div class="uk-container" id="viewBox" style="margin-top: 20px;">
				<ul id="slide"></ul>
			</div>
		</main>
	</div>
	<script>
		let lastItemIdx = 0;
		const sizeOfPage = 12;
		let categoryRef = null;
		let region = null;
		let gu = null;
		let dong = null;
		let search = null;
		
		function detail(idx){
			location.href = "/life/detail/" + idx;
		}

		function init(){
			lastItemIdx = $("#lastItemIdx").val();
			region = $("#region").val();
			gu = $("#gu").val();
			dong = $("#dong").val();
			search = $("#search").val();
			categoryRef = $("#categoryRef").val();
			console.log(region, gu, dong, search, categoryRef)
			if(region.length == 0){
				region = null;
			}
			if(gu.length == 0) {
				gu = null;
			}
			if(dong.length == 0) {
				dong = null;
			}
			if(search.trim().length == 0){
				search = null;
			}
			getItem();
		}
	
		function findLastItemIdx(){
			let ukCards = document.querySelectorAll(".uk-card");
			let lastItem = ukCards[ukCards.length - 1];
			let value = lastItem.querySelector(".idx").value;
			lastItemIdx = value;
		}
	
		function getItem(){
			window.removeEventListener('scroll', handleScroll);
			axios.post('/life/list', {
	            'lastItemIdx': lastItemIdx,
	            'sizeOfPage': sizeOfPage,
	            'categoryRef': categoryRef,
	            'region': region,
	            'gu': gu,
	            'dong': dong,
	            'search': search
	        })
	        .then(res => {
				let data = res.data;
				console.log(data);
				content = "";
				if(data.length == 0) {
					window.removeEventListener('scroll', handleScroll);
					return ;
				}
				data.forEach(board => {
					lastItemIdx = board.idx;
				    const isContainedFile = board.fileList?.length != 0 ? true : false;
				    if(isContainedFile){
				    	content += `
				    		<li class="list-item" onclick="detail(${board.idx})">
								<div class="li1" style="display:flex; justify-content: space-between;height: 170px; padding: 10px;">
									<div style="width: 630px;">
										<p class="board-category" style="display: inline-block;">${board.categoryName}</p>
										<p class="board-title">${board.title}</p>
										<p class="board-content">${board.content}</p>
										<span>${dateFormatter(board.createDate)}</span>ㆍ<span>${board.loc1} ${board.loc2} ${board.loc3}</span>ㆍ<span>조회수 ${board.readCount}</span>ㆍ<span>좋아요 ${board.likeCount}</span>ㆍ<span>댓글 ${board.commentCount}</span>
									</div>
									<div style="width: 150px; height: 150xp; border-radius: 10px; overflow: hidden; background: url('/upload/${board.fileList[0].saveFileName}') center/cover;"></div>
								</div>
							</li>
				    	`;
				    } else {
				    	content += `
				    		<li class="list-item" onclick="detail(${board.idx})">
								<div class="li2" style="display:flex; justify-content: space-between;height: 170px; padding: 10px;">
									<div style="width: 790px;">
										<p class="board-category" style="display: inline-block;">${board.categoryName}</p>
										<p class="board-title">${board.title}</p>
										<p class="board-content">${board.content}</p>
										<span>${dateFormatter(board.createDate)}</span>ㆍ<span>${board.loc1} ${board.loc2} ${board.loc3}</span>ㆍ<span>조회수 ${board.readCount}</span>ㆍ<span>좋아요 ${board.likeCount}</span>ㆍ<span>댓글 ${board.commentCount}</span>
									</div>
								</div>
							</li>
				    	`;
				    }
				})
				$("#slide").append(content);
				findLastItemIdx();
				window.addEventListener('scroll', handleScroll);
			})
		}
	
		/** 수를 가격으로 바꿔주는 함수 */
		function numberFormatter(number){
			let formattedNumber = new Intl.NumberFormat('ko-KR').format(number) + '원';
			return formattedNumber;
		}
		
		/** 날짜변경 */
		function dateFormatter(dateStr){
			// Moment.js를 사용하여 상대적인 시간 표시 
			let momentRegDate = moment(dateStr);
			let now = moment();
			let diff = now.diff(momentRegDate, 'seconds'); // 차이 구하기
			var formattedDate;
			if (diff < 60) {
			    formattedDate = diff + '초 전';
			} else if (diff < 3600) {
			    formattedDate = Math.floor(diff / 60) + '분 전';
			} else if (diff < 86400) {
			    formattedDate = Math.floor(diff / 3600) + '시간 전';
			} else if (diff < 604800) {
			    formattedDate = Math.floor(diff / 86400) + '일 전';
			} else {
			    formattedDate = momentRegDate.format('YYYY.MM.DD');
			}
			return formattedDate;
		}
	
		/** 스크롤 이벤트 */
		function handleScroll() {
		    if (window.scrollY + window.innerHeight + 100 >= document.documentElement.scrollHeight) {
		        getItem();
		    }
		}
		
		$(function(){
			init();
			
			let isScrolled = false; // 스크롤 여부를 저장하는 변수
			let timeout; // 딜레이를 위한 타임아웃 변수
			window.addEventListener('scroll', function() {
			    var scrollPosition = window.scrollY;
			    var button = document.getElementById('writeButton');

			    // 상단에 위치한 상태인지 확인
			    if (scrollPosition > 100) {
			        button.textContent = "+";
			        button.style.width = "60px";
			        isScrolled = true; // 스크롤된 상태로 설정
			    } else {
			        if (isScrolled) { // 스크롤된 상태에서만 실행
			            button.style.width = "150px";
			            clearTimeout(timeout); // 기존 타임아웃 제거
			            timeout = setTimeout(() => {
			                button.textContent = "+ 글쓰기";                  
			            }, 500);
			            isScrolled = false; // 스크롤되지 않은 상태로 설정
			        }
			    }
			});

			$("#writeButton").mouseover(function(){
			    var button = document.getElementById('writeButton');
			    button.style.width = "150px";
			    clearTimeout(timeout); // 기존 타임아웃 제거
			    timeout = setTimeout(() => {
			        button.textContent = "+ 글쓰기";                  
			    }, 500);
			});

			$("#writeButton").mouseleave(function(){
			    var button = document.getElementById('writeButton');
			    if(isScrolled){
			    	clearTimeout(timeout);
			        button.textContent = "+";
			        button.style.width = "60px";                  
			    } else {
			        clearTimeout(timeout);
			    }
			});
		})
	</script>
</body>
</html>