<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>당근 중고거래-상품상세보기</title>
<!--제이쿼리 추가-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap">
<!-- 카카오맵 api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fa04a00338cccad468f169754f5e7cc6&libraries=services"></script>
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/fleamarket/fleamarketDetail.css">
</head>
<body>
	<input type="hidden" id="boardIdx" th:value="${board.idx}">
	<div id="wrap">
		<th:block th:insert="~{header.html}"></th:block>
		<main>
			<div class="uk-container">
				<div uk-slider>
				    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" style="box-shadow: 1px 2px 5px #ccc;">
				        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-1@m">
				        	<th:block th:each="img : ${board.boardFileList}">
				        		<li th:style="|overflow: hidden; background: url('/upload/${img.saveFileName}') center/cover;|"></li>
				        	</th:block>
				        </ul>
				        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
				        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
				    </div>
				    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
				    
				    
		        	<!-- 유저 프로필 -->
				    <div class="uk-card uk-card-default uk-width-1-1@m">
					    <div class="uk-card-header">
					        <div class="uk-grid-small uk-flex-middle" uk-grid>
					            <div th:if="${board.userProfile == null}" class="uk-width-auto" style="padding:0;width: 40px;height:40px;border-radius: 50%;background: #333;overflow: hidden; background: url('/img/user.png') center/cover;"></div>
					            <div th:if="${board.userProfile != null}" class="uk-width-auto" th:style="|padding:0;width: 40px;height:40px;border-radius: 50%;background: #333;overflow: hidden; background: url('/upload/${board.userProfile}') center/cover;|"></div>
					            <div class="uk-width-expand" id="board-head-line">
					            	<div>
						                <h4 class="uk-card-title uk-margin-remove-bottom">[[${board.nickName}]]</h4>
						                <p>[[${board.loc1}]] [[${board.loc2}]] [[${board.loc3}]]</p>
					            	</div>
									<input type="hidden" id="userVal" th:value="${board.userVal}">
									<div id="userValBox" style="font-weight: bold"></div>
					            </div>
					        </div>
					    </div>
					    
					    <div class="hr"></div>
					    
					    <div class="uk-card-body">
					    	<input type="hidden" id="boardStatusNum" th:value="${board.statusRef}">
					    	<th:block th:if="${session.user != null && session.user.idx == board.userRef && board.statusRef != 3}">
					    		<select class="uk-select" name="" id="statusChange" style="margin-bottom: 15px; width: 25%;">
					    			<option value="1" th:selected="${board.statusRef == 1}">판매중</option>
					    			<option value="2" th:selected="${board.statusRef == 2}">예약중</option>
					    			<option value="3" th:selected="${board.statusRef == 3}">판매완료</option>
					    		</select>
					    	</th:block>
					    	<h3 class="uk-card-title uk-margin-remove-bottom" style="margin: 0;">
			                	<span th:if="${board.statusRef == 2}" class="reserved">[[${board.statusName}]]</span>
			                	<span th:if="${board.statusRef == 3}" class="sold">[[${board.statusName}]]</span>
					    		[[${board.title}]]
					    	</h3>
					    	<span class="category">[[${board.categoryName}]]</span>ㆍ<span class="regDate" id="board-time"></span>
					    	<input type="hidden" th:value="${board.createDate}" id="board-time2">
					        <p class="text-card">[[${board.content}]]</p>
					        <div id="mapBox">
					        	<div id="mapInfo" style="display: none;">
					        		<input type="hidden" id="latitude" th:value="${board.latitude}"/>
					        		<input type="hidden" id="longitude" th:value="${board.longitude}"/>
					        	</div>
					        	<div id="mapText">
					        		<p>거래 희망 장소<span style="float:right;">[[${board.location}]]</span></p>
					        	</div>
						        <div id="map" style="width:570px;height:200px;"></div>					        
					        </div>
					    </div>
					    <div class="hr"></div>
					    <div class="uk-card-footer">
					    	<p class="like"><span id="countLike">관심 [[${board.likeCount}]]</span>ㆍ<span>채팅 [[${board.chatRoomCount}]]</span>ㆍ<span>조회수 [[${board.readCount}]]</span></p>
					    </div>
					    
					    <!-- 유저가 쓴 다른 글 -->
					    <div class="extraBox" th:if="${not #lists.isEmpty(userBoard)}">
							<div class="hr"></div>
							<div style="display: flex;justify-content: space-between;align-items: center; padding: 20px 0;">
								<h4 style="margin: 0;font-weight: 500;">[[${board.nickName}]]님의 판매물품</h4>
								<span id="usermore" class="highlight" style="cursor: pointer;" th:onclick="location.href='/used-market/[[${board.userRef}]]/board'">더 구경하기</span>
							</div>
							<div class="hr"></div>
							<div style="padding:10px 81px;display: grid;gap:42px; grid-template-columns:repeat(2,1fr);justify-items: space-around;">
								<article th:each="vo : ${userBoard}" class="uk-card" th:onclick="detail([[${vo.idx}]])">
									<div class="uk-card-media-top" th:style="|background: url('/upload/${vo.thumbnail}') center/cover;|"></div>
									<div class="uk-card-body">
										<h4 class="uk-card-title">[[${vo.title}]]</h4>
										<p class="price">[[${#numbers.formatInteger(vo.price, 0, 'COMMA')}]]원</p>
										<span class="city">[[${vo.loc1}]] [[${vo.loc2}]] [[${vo.loc3}]]</span>
										<p class="like"><span>관심 [[${vo.likeCount}]]</span>ㆍ<span>채팅 [[${vo.chatRoomCount}]]</span>ㆍ<span>조회수 [[${vo.readCount}]]</span></p>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div id="footer-inner">
				<div id="likeHeart" style="width: 65px;height:65px;">
					<!-- 로그인하지 않은 경우 -->
					<a uk-icon="icon: heart; ratio: 1.2" th:if="${session.user == null}" onclick="alert('로그인후 이용가능합니다.'); location.href='/member/login'"></a>
					<!-- 로그인한경우 + 좋아요 누른 경우 -->
					<a uk-icon="icon: heart; ratio: 1.2" th:if="${session.user != null && board.isLike == 1}" class="active" ></a>
					<!-- 로그인한경우 + 좋아요 안 누른 경우 -->
					<a uk-icon="icon: heart; ratio: 1.2" th:if="${session.user != null && board.isLike == 0}"></a>
				</div>
				<div id="footerBox">
					<div style="font-weight: 500">
						[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원		
					</div>
					<div>
						<input type="hidden" name="boardIdx" th:value="${board.idx}">						
						<input th:if="${session.user == null}" type="button" onclick="alert('로그인 후 이용가능합니다.'); location.href='/member/login'" class="uk-button uk-button-primary" value="채팅하기"/>				
						<th:block th:if="${session.user != null}">
							<input th:if="${session.user.idx != board.userRef && board.statusRef != 3}" type="button" class="uk-button uk-button-primary" value="채팅하기" id="chatBtn"/>				
							<input th:if="${session.user.idx != board.userRef && board.statusRef == 3}" type="button" class="uk-button uk-button-primary" value="채팅불가" disabled="disabled"/>				
							<input th:if="${session.user.idx == board.userRef}" type="button" class="uk-button uk-button-primary" id="updateBtn" value="수정하기" th:disabled="${board.statusRef == 3}"/>							
						</th:block>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript">
		function detail(idx){
		    window.open('/used-market/detail/' + idx, '_blank');
		}
	
		function initializeMap() {
			let latitude = $("#latitude").val();
			let longitude = $("#longitude").val();
		    console.log("지도 초기화 및 기타 작업 실행");
		    
		    // 카카오 지도 뿌리기
			let mapContainer = document.getElementById('map'); 
			let mapOption = { 
		        center: new kakao.maps.LatLng(latitude, longitude),
		        level: 3 // 지도의 확대 레벨
		    };
			var map = new kakao.maps.Map(mapContainer, mapOption);
			
			var markerPosition  = new kakao.maps.LatLng(latitude, longitude); 
			
			var marker = new kakao.maps.Marker({
			    position: markerPosition
			});
			marker.setMap(map);
		}
	
		/** 날짜변경 */
		function dateFormatter(dateStr){
			// Moment.js를 사용하여 상대적인 시간 표시 
			let momentRegDate = moment(dateStr);
			let now = moment();
			let diff = now.diff(momentRegDate, 'seconds'); // 차이 구하기
			var formattedDate;
			if (diff < 60) {
			    formattedDate = diff + '초 전';
			} else if (diff < 3600) {
			    formattedDate = Math.floor(diff / 60) + '분 전';
			} else if (diff < 86400) {
			    formattedDate = Math.floor(diff / 3600) + '시간 전';
			} else if (diff < 604800) {
			    formattedDate = Math.floor(diff / 86400) + '일 전';
			} else {
			    formattedDate = momentRegDate.format('YYYY.MM.DD');
			}
			return formattedDate;
		}
	
	
		$(function(){
			// 게시물 시간변경
			let boardTime = dateFormatter($("#board-time2").val());
			console.log(boardTime);
			$("#board-time").text(boardTime);
			
			// map
			initializeMap();
			
			// 좋아요 누르기!
			$("#likeHeart > a").click(function(e){
				e.preventDefault();
				const isActive = $(this).hasClass('active');
				if(!isActive){
					axios.post('/used-market/like', {
						'boardRef' : $("#boardIdx").val()
					})
					.then(res => {
						const data = res.data;
						if(data == '1'){
							$(this).addClass('active');
							$("#countLike").text('관심 ' + (Number($("#countLike").text().substring(3)) + 1));
						} else {
							alert('문제가 발생했습니다. 잠시후 다시 시도해주세요.');
							location.reload();
						}
					})
				} else {
					axios.post('/used-market/unlike', {
						'boardRef' : $("#boardIdx").val()
					})
					.then(res => {
						const data = res.data;
						if(data == '1'){
							$(this).removeClass('active');
							$("#countLike").text('관심 ' + (Number($("#countLike").text().substring(3)) - 1));
						} else {
							alert('문제가 발생했습니다. 잠시후 다시 시도해주세요.');
							location.reload();
						}
					})
				}
			})
			
			
			$("#chatBtn").click(function(){
				axios.post("/chat2/createChatRoom",{
					'boardRef': $("#boardIdx").val()
				})
				.then((res) => {
					data = res.data;
					console.log(data);
					if(data != 0){
						const url = `/chat2/room/${data}`;
						const popupWidth = 400;
			            const popupHeight = 705;
			            const leftPosition = (window.screen.width - popupWidth) / 2;
			            const topPosition = (window.screen.height - popupHeight) / 2;
			            const popupWindow = window.open(url, "ChatRoomPopup", `width=${popupWidth}, height=${popupHeight}, left=${leftPosition}, top=${topPosition}, resizable=no`);
			            popupWindow.focus();
					} else {
						alert("로그인후 이용가능합니다.")
					}
				})
				.catch((err) => {
					console.log(err);
				});
			})
			
			// 수정버튼
			$("#updateBtn").click(function(){
				const idx = $("#boardIdx").val();
				const result = confirm('상품을 수정하시겠습니까?');
				if(result) {
					const form = $('<form>').attr({
					    action: '/used-market/board/update',
					    method: 'post'
					});
					const input = $('<input>').attr({
					    type: 'hidden',
					    name: 'idx',
					    value: idx
					});
					form.append(input);
					$('body').append(form);
					form.submit();
				}
			})
			
			
			$("#statusChange").change(function(){
				const statusRef = $("#statusChange").val();
				const boardIdx = $("#boardIdx").val();
				const result = confirm('상품 상태를 변경하시겠습니까?');
				if(result) {
					const form = $('<form>').attr({
						'method' : 'post',
						'action' : '/used-market/board-status/update'
					});
				    form.append($('<input>').attr('type', 'hidden').attr('name', 'boardRef').val(boardIdx));
				    form.append($('<input>').attr('type', 'hidden').attr('name', 'statusRef').val(statusRef));
				    $('body').append(form);
				    form.submit();
				}
			})
			
			
			let uv = $("#userVal").val();
			let score = 6.5 * (uv - 3) + 36.5;
		 	console.log(score);
			score = score.toFixed(1);
			$("#userValBox").html(`
				<div><span style="font-weight:400;">매너온도</span> ${score} °C</div>
					<div style="position: relative; width: 100%; height: 5px; border-radius: 3px; background: #eee; overflow: hidden;">
				    <div style="position: absolute;top: 0; left: 0; width: ${uv/6 *100}%; height: 100%; background: #FF8A3D;"></div>
				</div>`
			);
			
		})
	</script>
</body>
</html>