<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>당근 중고거래-상품상태변경</title>
<!--제이쿼리 추가-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap">
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet" href="/css/header.css">
<style type="text/css">
	main {margin:auto; padding-top:90px; width: 400px; position: relative; height: calc(100vh);}
	
	.highlight{color: #FF8A3D; font-size: 24px; font-weight: 500;}
	#footer{
		position: fixed; left: 0; bottom: 0;
		width: 100%; height: 76px;
	}
	#footerInner{
		width: 400px; height: 76px; margin: auto; background: #fff;
		display: flex; justify-content: right; align-items: center;
	}
	#footerInner input {padding: 0 20px; border-radius: 10px; font-weight: 500; color: #fff;}
	#reserveBtn{background: #5abd90}
	#reserveBtn:hover {background: #4a9975}
	
	#imgBox img {max-width: 80px; filter: grayscale(100%);}
	#imgBox label{border-radius: 10px; box-shadow: 1px 2px 4px #ccc;}
	#imgBox label.active {box-shadow: 1px 2px 4px #FF8A3D;}
	#imgBox label.active img{filter: none;}
	
	.checkbox{margin-bottom: 5px;}
	.checkbox2 + label{
    position: relative;
	}
	.checkbox input[type="radio"].checkbox2{
	    display: none;
	}
	.checkbox input[type="radio"].checkbox2 + label:before { /* 체크박스 배경 */
	    display: inline-block;
	    content: '';
	    width: 1em; 
	    height: 1em;
	    background-color: #FF8A3D;
	    border-radius: 50%;
	    margin: 0 5px -3px 0;
	}
	.checkbox input[type="radio"].checkbox2 + label:after { /* 체크 마크 */
	    position: absolute;
	    left: 1px;
	    content: '✔'; /* 체크 마크 ASCii 문자 */
	    font-size: 1.2em;
	    line-height: 1;
	    color: #fff;
	    transition: all .3s;
	}
	[type="radio"].checkbox2 + label:after { /* 기본 상태 - 투명에 크기 0 */
	    opacity: 0;
	    transform: scale(0);
	}
	[type="radio"]:checked.checkbox2 + label:after { /* 체크 상태 - 불투명에 크기 1 */
	    opacity: 1;
	    transform: scale(1);
	}
</style>
</head>
<body>
	<input type="hidden" id="boardIdx" th:value="${board.idx}">
	<input type="hidden" id="statusRef" th:value="${statusRef}">
	<div id="wrap">
		<th:block th:insert="~{header.html}"></th:block>
		
		<!-- 채팅한 유저가 없는경우 -->
		<th:block th:if="${#lists.isEmpty(chatUsers)}">
			<main>
				<div id="ItemBox" style="width: 100%; height: 100px;padding: 10px; display: flex;">
					<div id="ItemImgBox" th:style="|width: 80px; height: 80px; border-radius: 20px; margin-right: 10px; background: url('/upload/${board.thumbnail}') center/cover;|"></div>
					<div id="ItemInfo">
						<p style="margin: 0; font-size: 13px; color: #ccc; font-weight: 400;">거래한물건</p>
						<p id="ItemTitle" style="margin: 0; font-size: 16px; font-weight: 500;">[[${board.title}]]</p>
						<span id="ItemPrice">[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원</span>
					</div>
				</div>
				<div style="width: 100%; height: calc(100% - 176px); display: flex; justify-content: center; align-items: center; font-size: 24px;">
					채팅목록이없습니다.
				</div>
			</main>
			<div id="footer">
				<div id="footerInner">
					<input type="button" value="돌아가기" class="uk-button" id="cancleBtn" style="color: #333;" th:onclick="|location.href='/used-market/detail/${board.idx}'|">
				</div>
			</div>
		</th:block>
		
		<!-- 채팅한 유저기 있는 경우 -->
		<th:block th:if="${not #lists.isEmpty(chatUsers)}">
			<!-- 예약취소를 하려하는 경우 -->
			<th:block th:if="${statusRef == 1}">
				<main>
					<div id="ItemBox" style="width: 100%; height: 100px;padding: 10px; display: flex;">
						<div id="ItemImgBox" th:style="|width: 80px; height: 80px; border-radius: 20px; margin-right: 10px; background: url('/upload/${board.thumbnail}') center/cover;|"></div>
						<div id="ItemInfo">
							<p style="margin: 0; font-size: 13px; color: #ccc; font-weight: 400;">거래한물건</p>
							<p id="ItemTitle" style="margin: 0; font-size: 16px; font-weight: 500;">[[${board.title}]]</p>
							<span id="ItemPrice">[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원</span>
						</div>
					</div>
					<input type="hidden" name="boardRef" th:value="${board.idx}">
					<input type="hidden" name="statusRef" value="1">
					예약을 취소하겠습니까?
				</main>
				<div id="footer">
					<div id="footerInner">
						<input type="button" value="돌아가기" class="uk-button" id="cancleBtn" style="margin-right: 10px;">
						<input type="submit" value="예약취소" class="uk-button" id="reserveCencleBtn">
					</div>
				</div>
			</th:block>
			
			<!-- 예약하는 경우 -->
			<th:block th:if="${statusRef == 2}">
				<main>
					<div id="ItemBox" style="width: 100%; height: 100px;padding: 10px; display: flex;">
						<div id="ItemImgBox" th:style="|width: 80px; height: 80px; border-radius: 20px; margin-right: 10px; background: url('/upload/${board.thumbnail}') center/cover;|"></div>
						<div id="ItemInfo">
							<p style="margin: 0; font-size: 13px; color: #ccc; font-weight: 400;">거래한물건</p>
							<p id="ItemTitle" style="margin: 0; font-size: 16px; font-weight: 500;">[[${board.title}]]</p>
							<span id="ItemPrice">[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원</span>
						</div>
					</div>
					<input type="hidden" name="boardRef" th:value="${board.idx}">
					<input type="hidden" name="statusRef" value="2">
					<p style="padding-top: 20px; font-weight: 400;"><span class="highlight">어떤 유저</span>와 <span class="highlight">예약</span>을 하시나요?</p>
					<p style="font-weight: 400; margin-bottom:5px;">유저 닉네임</p>
					<select id="userIdx" name="userIdx" class="uk-select">
						<option value="0">유저를 선택해주세요.</option>
						<option th:each="user : ${chatUsers}" th:value="${user.idx}">[[${user.nickName}]]</option>
					</select>
					<p>
						즐거운 거래가 되길 기원합니다.!!
						<br /> -당근마켓-
					</p>
				</main>
				<div id="footer">
					<div id="footerInner">
						<input type="button" value="돌아가기" class="uk-button" id="cancleBtn" style="margin-right: 10px;">
						<input type="submit" value="예약하기" class="uk-button" id="reserveBtn">
					</div>
				</div>
			</th:block>
			
			<!-- 거래완료 -->
			<th:block th:if="${statusRef == 3}">
				<!-- 예약자가 없던 경우 -->
				<th:block th:if="${rv == null}">
					<main>
						<div id="ItemBox" style="width: 100%; height: 100px;padding: 10px; display: flex;">
							<div id="ItemImgBox" th:style="|width: 80px; height: 80px; border-radius: 20px; margin-right: 10px; background: url('/upload/${board.thumbnail}') center/cover;|"></div>
							<div id="ItemInfo">
								<p style="margin: 0; font-size: 13px; color: #ccc; font-weight: 400;">거래한물건</p>
								<p id="ItemTitle" style="margin: 0; font-size: 16px; font-weight: 500;">[[${board.title}]]</p>
								<span id="ItemPrice">[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원</span>
							</div>
						</div>
						<hr style="margin: 0;" />
						<input type="hidden" name="boardRef" th:value="${board.idx}">
						<input type="hidden" name="statusRef" value="3">
						
						<p style="font-weight: 400;"><span class="highlight">어떤 유저</span>와 <span class="highlight">거래</span>를 하셨나요?</p>
						<p style="font-weight: 400;">유저 닉네임</p>
						<select id="userIdx" name="userIdx" class="uk-select">
							<option value="0">유저를 선택해주세요.</option>
							<option th:each="user : ${chatUsers}" th:value="${user.idx}">[[${user.nickName}]]</option>
						</select>
						<p>
							즐거운 거래가 되셨나요??
							유저에게 유저평을 남겨주세요!
							<br /> -당근마켓-
						</p>
					</main>
					<div id="footer">
						<div id="footerInner">
							<input type="button" value="돌아가기" class="uk-button" id="cancleBtn" style="margin-right: 10px;">
							<input type="submit" value="거래완료" class="uk-button" id="reserveBtn">
						</div>
					</div>
				</th:block>
				
				<!-- 예약자가 있던 경우 -->
				<th:block th:if="${rv != null}">
					<main>
						<div id="ItemBox" style="width: 100%; height: 100px;padding: 10px; display: flex;">
							<div id="ItemImgBox" th:style="|width: 80px; height: 80px; border-radius: 20px; margin-right: 10px; background: url('/upload/${board.thumbnail}') center/cover;|"></div>
							<div id="ItemInfo">
								<p style="margin: 0; font-size: 13px; color: #ccc; font-weight: 400;">거래한물건</p>
								<p id="ItemTitle" style="margin: 0; font-size: 16px; font-weight: 500;">[[${board.title}]]</p>
								<span id="ItemPrice">[[${#numbers.formatInteger(board.price, 0, 'COMMA')}]]원</span>
							</div>
						</div>
						<hr style="margin: 0;" />
						<input type="hidden" name="boardRef" th:value="${board.idx}">
						<input type="hidden" name="statusRef" value="3">
						
						<p style="font-weight: 400;"><span class="highlight">어떤 유저</span>와 <span class="highlight">거래</span>를 하셨나요?</p>
						<p style="font-weight: 400;">유저 닉네임</p>
						<select id="userIdx" name="userIdx" class="uk-select">
							<option value="0">유저를 선택해주세요.</option>
							<option th:each="user : ${chatUsers}" th:value="${user.idx}" th:selected="${user.idx == rv.userRef}">[[${user.nickName}]]</option>
						</select>
						<p>
							즐거운 거래가 되셨나요??
							<br /> -당근마켓-
						</p>
					</main>
					<div id="footer">
						<div id="footerInner">
							<input type="button" value="돌아가기" class="uk-button" id="cancleBtn" style="margin-right: 10px;">
							<input type="submit" value="거래완료" class="uk-button" id="reserveBtn">
						</div>
					</div>
				</th:block>
			</th:block>
		</th:block>
	</div>
	
	<script type="text/javascript">
		$(function(){
			// 돌아가기 버튼
			$("#cancleBtn").click(function(){
				let result = confirm('돌아가시겠습니까?');
				let boardIdx = $("#boardIdx").val();
				if(result){
					location.href = `/used-market/detail/${boardIdx}`;
				}
			})
			
			// 예약 취소
			$("#reserveCencleBtn").click(function(){
				let result = confirm('정말 예약을 취소하시겠습니까?');
				if(result){
					let boardIdx = $("#boardIdx").val();
					let statusRef = $("#statusRef").val();
					axios.post(`/used-market/board-status/update/ok`, {
						'boardRef' : Number(boardIdx),
						'statusRef' : statusRef
					})
					.then(res => {
						const data = res.data;
						if(data == '0'){
							alert('오류가 발생했습니다. 잠시후 다시 시도해주세요.')
						} else {
							alert('예약취소 처리되었습니다.');
						}
						location.href = `/used-market/detail/${boardIdx}`;
					})
					.catch(err => {
						console.log(err);
					})
				}
			});
			
			// 예약 or 판매완료
			$("#reserveBtn").click(function(){
				if($("#userIdx").val() == 0){
					alert('유저를 선택해주세요.');
					return ;
				}
				let boardIdx = $("#boardIdx").val();
				let statusRef = $("#statusRef").val();
				axios.post(`/used-market/board-status/update/ok`, {
					'boardRef' : Number(boardIdx),
					'statusRef' : statusRef,
					'userRef' : $("#userIdx").val()
				})
				.then(res => {
					const data = res.data;
					if(data == '0'){
						alert('오류가 발생했습니다. 잠시후 다시 시도해주세요.')
					} else {
						alert('성공적으로 처리되었습니다.');
					}
					location.href = `/used-market/detail/${boardIdx}`;
				})
				.catch(err => {
					console.log(err);
				})
			})
		})
	</script>
</body>
</html>