<div id="leftArea">
	<div style="position: relative;">
		<div id="userProfileImg" th:if="${user.userFile == null}" style="background: url('/img/user.png') center/cover;"></div>
		<div id="userProfileImg" th:if="${user.userFile != null}" th:style="|background: url('/upload/${user.userFile.saveFileName}') center/cover;|"></div>
	</div>
	<p id="userName">[[${user.username}]]</p>
	<ul class="mypageNav">
		<li><a href="/member/Home">회원 정보</a></li>
		<li><a href="/member/myBoard">판매내역</a></li>
		<li><a href="/member/myPurchase">구매내역</a></li>
		<li><a href="/member/myLike">관심목록</a></li>
		<li><a href="/member/myLife">나의 동네생활 활동</a></li>
		<!-- <li><a href="/member/history">최근 방문</a></li> -->
	</ul>
</div>