<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd" >
<mapper namespace="kr.ezen.daangn.global.security.jwt.dao.RefreshTokenDAO">

	<select id="findByIdx" parameterType="int" resultType="RefreshTokenVO">
		select
			*
		from
			dg_refresh
		where
			idx = #{idx}
	</select>

	<select id="findByUserRef" parameterType="int" resultType="RefreshTokenVO">
		select
			*
		from
			dg_refresh
		where
			userRef = #{userRef}
	</select>

	<select id="findByRefreshToken" parameterType="string" resultType="RefreshTokenVO">
		select
			*
		from
			dg_refresh
		where
			refreshToken = #{refreshToken}
	</select>

	<insert id="insertRefreshToken" parameterType="RefreshTokenVO">
		insert into dg_refresh (userRef, refreshToken)
		values (#{userRef}, #{refresthToken})
	</insert>

	<update id="updateRefreshToken" parameterType="hashmap">
		update dg_refresh
		set
			refreshToken = #{refreshToken}
		where
			userRef = #{userRef}
	</update>

	<delete id="deleteRefreshToken" parameterType="hashmap">
		delete from dg_refresh
		where
			userRef = #{userRef}
			or refreshToken = #{refreshToken}
	</delete>
</mapper>